@font-face {
    font-family: 'Play Time';
    src: url(../font/playtime.ttf) format('opentype'), url(../font/PlaytimeOblique.ttf) format('opentype'), url(../font/PlaytimeWithHotToddies3D.ttf) format('opentype');
}

body {
    font-family: 'Play Time', 'Times New Roman', Times, serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    
}


/* REGISTO */

.espacoDeRegisto {
    background: #F9F8DA;
    padding: 80px 0px;
    height: auto !important; /* real browsers */
    min-height: 100%;
}

.espacoDeRegisto.login{
    height: auto !important; /* real browsers */
    min-height: 100%;
}

.espacoDeRegisto form {
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
    background-color: #ffa09e6c;
    padding: 40px;
    border-radius: 20px;
    color: #505e6c;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.espacoDeRegisto .illustration {
    text-align: center;
    padding: 0 0 20px;
}

.espacoDeRegisto form .form-control {
    background: #f7f9fc;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    text-indent: 8px;
    height: 50px;
    font-size: 22px;
}

.espacoDeRegisto form .btn-primary {
    background: #fc8b89;
    border: none;
    border-radius: 10px;
    padding: 20px 30px 20px 30px;
    box-shadow: none;
    margin-top: 26px;
    margin-left: 130px;
    text-shadow: none;
    outline: none !important;
}

.espacoDeRegisto form .btn-primary:hover,
.espacoDeRegisto form .btn-primary:active {
    background: #63D4D4;
}

.espacoDeRegisto form .btn-primary:active {
    transform: translateY(1px);
}


.navbarPerfil{
background-color: #FBEEB5;
}

.footerPerfil{
    background-color: #FBEEB5;
}

.itemsNavbar{
    text-align: center;
}

.iconNavbar{
    margin: 10px 20px 10px 20px;
}



.corpoPerfil{
    background: #FAF8DA
}

.seccaoEditarPerfil{
    text-align: center;
}