@font-face {
    font-family: 'Play Time';
    src: url(../font/playtime.ttf) format('opentype'), url(../font/PlaytimeOblique.ttf) format('opentype'), url(../font/PlaytimeWithHotToddies3D.ttf) format('opentype');
}

body {
    font-family: 'Play Time', 'Times New Roman', Times, serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}


/* SCROLLBARS */

::-webkit-scrollbar {
    width: 20px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 40px;
    background-image: -webkit-gradient(linear,
            left bottom,
            left top,
            color-stop(0.50, rgba(62, 163, 217, 0.61)),
            color-stop(0.72, rgba(240, 127, 176, 0.61)),
            color-stop(0.80, rgba(236, 225, 15, 0.61)));
}


/* index */



.corpoDoIndex {
    background: linear-gradient(96deg, rgb(255, 255, 255) 0%, #ffb1af 100%) !important;
}


.tatudobemAbanar {
    margin: -5px;
    margin-top: 20px;
    margin-bottom: 18px;
    margin-right: 0;
    margin-left: 20px;
}



.tituloIndex {
    font-family: 'Play Time';
    color: #848484;
    margin-bottom: 7px;
    padding-bottom: 0;
    padding-top: 25px;
}

.textoIndex {
    color: #848484;
    margin-bottom: 25px;
    margin-top: -25px;
    font-size: 25px;
    width: 40rem;
}

.palavraEspecial {
    color: #205D76;
}

.botaoRegisto {
    background: #ffb1af;
    border-style: none;
    margin-bottom: 18px;
    font-size: 16px;
    font-family: 'Play Time';
}

.botaoEntrar {
    font-family: 'Play Time';
    background: #ffb1af;
    border-style: none;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-right: 23px;
    padding-left: 24px;
}

.botaoVoltar {
    font-family: 'Play Time';
    color: white;
    font-size: 20px;
    background: #fc8b89;
    border-style: none;
    border-radius: 15%;
    margin-left: 30px;
}

@media screen and (max-width:767px) {
    .tatudobemAbanar {
        margin-top: 50px;
    }

    .tituloIndex {
        text-align: center;
    }

    .textoIndex {
        text-align: center;
        margin-left: -50px;
    }

    .divDosBotoesIndex {
        margin-left: 50px;
    }

    .tatuTatinhasIndex {
        margin-top: 50px;
        margin-left: 50px;

    }
}

@media (min-width: 768px) and (max-width: 974px) {

    .tatuTatinhasIndex {
        width: 230px;
        margin-top: 280px;

    }


}


@media (min-width: 975px) and (max-width: 1199px) {

    .tatuTatinhasIndex {
        width: 400px;
        margin-top: 100px;
        margin-left: -150px;

    }

}

@media (min-width:1200px) {
    .tatuTatinhasIndex {
        width: 35rem;
    }

    .tatudobemAbanar {
        margin-left: 50px;
    }
}


@media (min-height:768px) {
    .tituloIndex {
        font-size: 55px !important;
    }

    .textoIndex {
        font-size: 30px !important;
    }

    .tatudobemAbanar {
        width: 30rem;
    }

}

@media (min-width:792px) {
    .tatudobemAbanar {
        width: 25rem;
    }
}



/* REGISTO */

.espacoDeRegisto {
    background: #F9F8DA;
    padding: 80px 0px;
    height: auto !important;
    /* real browsers */
    min-height: 100%;
}

.espacoDeRegisto.login {
    height: auto !important;
    /* real browsers */
    min-height: 100%;
}

.espacoDeRegisto form {
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
    background-color: #ffa09e6c;
    padding: 40px;
    border-radius: 20px;
    color: #505e6c;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.espacoDeRegisto .illustration {
    text-align: center;
    padding: 0 0 20px;
}

.espacoDeRegisto form .form-control {
    background: #f7f9fc;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    text-indent: 8px;
    height: 50px;
    font-size: 22px;
}

.espacoDeRegisto form .btn-primary {
    background: #fc8b89;
    border: none;
    border-radius: 10px;
    padding: 20px 30px 20px 30px;
    box-shadow: none;
    margin-top: 26px;
    margin-left: 130px;
    text-shadow: none;
    outline: none !important;
}

.espacoDeRegisto form .btn-primary:hover,
.espacoDeRegisto form .btn-primary:active {
    background: #63D4D4;
}

.espacoDeRegisto form .btn-primary:active {
    transform: translateY(1px);
}


/* background: linear-gradient(96deg, rgb(255,255,255) 0%, #ffb1af 100%);"> */



.navbar.center .nav {
    text-align: center;
}

.navbar.center .nav {
    display: inline-block;
    float: none;
}

.nomeUtilizador {
    margin-top: 30px;
    margin-right: 15px;
    font-size: 20px;
}



@media (max-width:767px) {
    .avatar {
        justify-content: center;
    }
}

@media (min-width:792px) {
    .botaoVoltar {
        position: absolute;
    }
}



@media (max-width:792px) {
    .botaoVoltar {
        margin-left: 150px;
        margin-bottom: 20px;
    }
}

.navbarJogo,
.footerJogo {
    background-color: #FFE1E4;
}

.navbarAprender,
.footerAprender {
    background-color: #BCE9E9;
}

.navbarPerfil {
    background-color: #FBEEB5;
}

.footerPerfil {
    background-color: #FBEEB5;
}

.sobreFooter {
    font-size: 30px;
    margin-left: 30px;
}

.listaSobreFooter {
    margin-top: 20px;
    font-size: 20px;
}

.listaSobreFooter>li>a {
    color: #727270;
}

.listaSobreFooter {
    list-style-type: none;
}

.tituloCarta {
    margin-bottom: -10px;
    text-align: center;
    white-space: nowrap;
    color: #727272;
}

.linhaSobre {
    border-top: 2px solid black;
}

.criadoresFooter {
    margin-left: 30px;
    color: #919191;
}

.slogan {
    color: #919191;
    margin-top: 30px;
    float: right;
}

.osAmigosFooter {
    font-size: 30px;
    margin-top: 20px;
    margin-left: 350px;
}

.itemsNavbar {
    text-align: center;
}

.iconNavbar {
    margin: 10px 35px 10px 35px;
}

.captionIcone {
    font-size: 20px;
}

.contentorSobre {
    margin-top: 50px;
}


.cardsAmigos {
    border: none;
    background: none;
    margin: 0px 20px 0px 0px;
}

@media (max-width: 1000px) {

    .avatar {
        align-items: center;
    }

}

.navbarInicio {
    background-color: #F9F7F2;
}

.corpoInicio {
    background-color: #FAFAFA;
}

.footerInicio {
    background-color: #F9F7F2;
}

.corpoPerfil {
    background: #FAF8DA
}

.seccaoEditarPerfil {
    text-align: center;
}

.fundoAzulInicio {
    background-color: #638D94;
}

.cartaoAprender {
    background-color: #62D4D4;
    align-items: center;
    margin-top: -50px;
}

.cartaoAprender>img {
    margin-top: 20px;
}

.cartaoJogar {
    background-color: #FFA09E;
    align-items: center;
    margin-top: -50px;

}

.cartaoJogar>img {
    margin-top: 20px;
}

.cartaoPerfil {
    background-color: #FFC122;
    align-items: center;
    margin-top: -50px;

}

.cartaoPerfil>img {
    margin-top: 20px;
}

.tituloInicio {
    color: #205D76;
}

.textoInicio {
    font-size: 25px;
    color: #6A9299;
}

@media (min-width: 984px) {

    .cartaoAprender {
        width: 300px;
        height: 300px;
    }

    .cartaoJogar {
        width: 300px;
        height: 300px;
    }

    .cartaoPerfil {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 984px) {
    .containerDasCartas {
        width: 100%;
    }
}

@media (min-width: 1100px) {

    .tituloInicio {
        position: absolute;
        margin-top: 70px;
        margin-left: 200px;
    }

    .textoInicio {
        position: absolute;
        margin-top: 140px;
        margin-left: 200px;
    }
}

.infoJogo {
    background-color: #FFA09E;
    padding: 20px 0px 20px 0px;
}

.sitioJogo {
    height: 100%;
    margin-bottom: 80px;
}

.caixaJogos {
    margin-top: 40px;
}

.corpoJogos {
    background-color: #FFF6FB;
}

.descJogo {
    color: #6A9299;
}

.nomeJogo {
    color: #205D76;
}

.textoFiguraJogo {
    margin-left: 40px;
    font-size: 25px;
    color: #205D76;
}

.box {
    margin-bottom: 40px;

}






/* O CSS DOS JOGOS */
.avaliacaoBtn:hover {
    background-color: #ff8e8c;
}

/* PROTEGE-TE */

#fogeDoVirus {
    width: 500px;
    height: 300px;
    /* width: 100%; */
    /* height: 100%; */
    border: 1px solid black;
    margin: auto;
}

#personagem {
    width: 20px;
    height: 50px;
    background-image: url(../img/jogos/rapazpersonagem.png);
    position: relative;
    top: 150px;
}

@keyframes salto {
    0% {
        top: 150px;
    }

    30% {
        top: 100px;
    }

    70% {
        top: 100px;
    }

    100% {
        top: 150px;
    }
}


.animate {
    animation: salto 300ms linear;
}

@keyframes virus {
    0% {
        left: 500px
    }

    100% {
        left: -20px
    }
}

#virus {
    width: 20px;
    height: 20px;
    background-image: url(../img/jogos/virus.png);
    position: relative;
    top: 130px;
    left: 480px;
    animation: block 1s infinite linear;
}

/* MATA O VIRUS */


.mataVirus {
    /* border: 1px solid black; */
    width: 800px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(https://github.com/MohammedHamzaMalik/100-Days-of-JavaScript-Code/blob/main/Day%2097/Whack%20A%20Mole/background.png?raw=true);
    overflow: hidden;
}

.pontuacaoMataVirus {
    font-size: 5rem;
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 50px;
    text-align: center;
}

.contagemMataVirus {
    position: absolute;
    top: 490px;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    color: #000;
}

.comecarMataVirus {
    position: absolute;
    bottom: 10px;
    left: 50%;
    font-size: 1rem;
    transform: translate(-50%, 0);
    background: black;
    color: white;
    padding: 1rem 2rem;
    border-radius: 5px;
    z-index: 200;
    cursor: pointer;
    border: none;
    outline: none;
}

.comecarMataVirus:hover {
    background: #f0c27b;
    color: black;
}

.jogoMataVirus {
    width: 600px;
    height: 400px;
    margin: 70px auto;
    z-index: 200;
    display: flex;
    flex-wrap: wrap;
}

.buraco {
    overflow: hidden;
    flex: 1 0 33.33%;
    position: relative;
}

.buraco::after {
    content: "";
    display: block;
    background-image: url(https://github.com/MohammedHamzaMalik/100-Days-of-JavaScript-Code/blob/main/Day%2097/Whack%20A%20Mole/sand1.png?raw=true);
    position: absolute;
    width: 100%;
    height: 70px;
    z-index: 2;
    bottom: -30px;
    background-size: contain;
}

.virus {
    background-image: url(https://github.com/MohammedHamzaMalik/100-Days-of-JavaScript-Code/blob/main/Day%2097/Whack%20A%20Mole/yoda1.png?raw=true);
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    transition: 0.4s;
    background-repeat: no-repeat;
    background-position: bottom;
}

.virusPequeno {
    background-size: 60%;
}

.virusGrande {
    background-size: 80%;
}

.buraco .virus {
    cursor: grab;
    top: 0;
}

/* O DRAG AND DROP */

@import url('https://fonts.googleapis.com/css?family=Montserrat');

.caixasDragDrop {
    width: 350px;
    height: 250px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    text-align: center;
}


.elementosArrastar {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.arrastar {
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    margin: 0rem 0.5rem;
    cursor: move;
    transition: opacity 0.2s;
}

.arrastar:hover {
    opacity: 0.5;
}

.largar {
    height: 6.5rem;
    width: 6.5rem;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    background-color: #fff;
    border: 3px dashed #111;
    transition: border-width 0.2s, transform 0.2s, background-color 0.4s;
}

.largar span {
    font-size: 1.25rem;
    pointer-events: none;
    /* The element is never the target of pointer events */
}



.largar.largado {
    border-style: solid;
    color: #fff;
}

.largar.largado span {
    font-size: 0.75rem;
    margin-top: 0.5rem;
}

.largar.largado img {
    pointer-events: none;
}

.arrastar.arrastado {
    user-select: none;
    opacity: 0.1;
    cursor: default;
}

.draggable.arrstado:hover {
    opacity: 0.1;
}



@media (max-width: 600px) {
    html {
        font-size: 14px;
    }

    .elementosArrastar {
        margin: 1.5rem;
    }
}

/* O JOGO DA MEMORIA */


.jogoMemoria {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.cartaMemoria {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

.cartaMemoria:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.cartaMemoria.virar {
    transform: rotateY(180deg);
}

.parteDaFrente,
.parteDeTras {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #1C7CCC;
    backface-visibility: hidden;
}

.parteDaFrente {
    transform: rotateY(180deg);
}

.apresentacaoAndre {
    color: #205D76;
    padding-top: 30px;

}

.introAndre {
    font-size: 55px;
}

.tituloDasEstatisticas {
    color: #205D76;
}

.tituloItem {
    color: #227f8f;
}

.textoAtividade {
    color: #5d919b;
}

.estatisticas {
    opacity: 75%;

}

@media (max-width: 800px) {
    .estatisticas {
        margin-top: 40px;
        margin-bottom: 10px;
    }

    .botoesPerfil {
        margin-bottom: 20px;
    }
}


@media (min-width: 800px) {
    .estatisticas {
        margin-top: 100px;
    }
}

.formAlterar::placeholder {
    color: #205D76;
    font-size: 17px;
}

.fotoPerfil {
    margin-bottom: 20px;
    margin-top: 30px;
}

#botaoAlterar {
    float: right;
    margin-top: 90px;
    margin-right: 20px;
    color: #205D76;
    background: #FFC122;
    border-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 35px;
    padding-left: 35px;
}

.containerConteudoPerfil {
    margin-bottom: 50px;
}

.containerBotoesPerfil {
    margin-bottom: 50px;
    margin-top: 50px;
}


.formAlterar::placeholder {
    color: #205D76;
    font-size: 17px;
}

.tituloPontos {
    font-size: 30px;
    color: #205D76;
}

.nPontosUser {
    color: #e4c229;
    margin-top: -10px;
    margin-bottom: 5px;
    font-size: 25px;
}

.perguntaPontos {
    color: #205D76;
    margin-bottom: 15px;
}

.blocoIntroPontos {
    margin-bottom: 35px;
}

.botaoPontosUm {
    background-color: #FFD000;
}

.botaoPontosDois {
    background-color: #FFD000;
}

@media (max-width: 768px) {

    .tituloPontos {
        font-size: 60px;
        text-align: center;
    }

    .nPontosUser {
        font-size: 35px;
        text-align: center;
    }

    .perguntaPontos {
        font-size: 45px;
        text-align: center;
    }

    .botaoPontosUm {
        padding: 15px;
        font-size: 20px;


    }

    .botaoPontosDois {
        padding: 15px 20px 15px 20px;
        font-size: 20px;
    }

}



@media (min-width: 768px) {
    .blocoIntroPontos {
        margin-top: 100px;
    }

    .tituloPontos {
        font-size: 60px;
    }


    .nPontosUser {
        font-size: 30px;
    }

    .perguntaPontos {
        font-size: 50px;
    }

    .botaoPontosUm {
        padding: 15px;
        margin-right: 25px;

    }

    .botaoPontosDois {
        padding: 15px 20px 15px 20px;
    }
}

@media (min-width: 1200px) {
    .blocoIntroPontos {
        margin-top: 100px;
    }

    .tituloPontos {
        font-size: 70px;
    }

    .nPontosUser {
        font-size: 30px;
    }

    .perguntaPontos {
        font-size: 55px;
    }

    .botaoPontosUm {
        padding: 15px;
        margin-right: 25px;

    }

    .botaoPontosDois {
        padding: 15px 20px 15px 20px;
    }
}

.botaoPontosUm {
    border-radius: 20px;

}

.botaoPontosDois {
    border-radius: 20px;
}


/* Alterações na página jogo.html */

#todos {
    background-color: #EF9AC3;
    color: white;
    font-size: 20px;
    padding: 10px 30px 10px 30px;
}

#questionarios {
    background-color: #FAF8DA;
    color: #EF9AC3;
    border-color: #EF9AC3;
    font-size: 20px;
    padding: 10px 25px 10px 25px;
}

#preencherEspacos {
    background-color: #FAF8DA;
    color: #EF9AC3;
    border-color: #EF9AC3;
    font-size: 20px;
    padding: 10px 25px 10px 25px;
}

.introDora {
    font-size: 65px;
    color: #444E6E;
    padding-top: 15px;
}

.introXico {
    font-size: 65px;
    color: #444E6E;
    padding-top: 15px;
    padding-bottom: 20px;
}

@media (min-width: 500px) and (max-width: 575px) {

    .caixinhasInfo {
        margin: 0px 50px 0px 100px;
    }

    .xicoDaPagina {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    .caixinhasInfo {
        margin: 0px 50px 0px 0px;
        display: flexbox;
        align-items: center;

    }

    .xicoDaPagina {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.nomeCapítulo {
    margin-top: 10px;
    color: #444E6E;
}

.modal-body {
    text-align: center;
}

.caixaJogos {
    background-color: white;
    border-style: ridge;
    border-color: #ffd8d7;
    border-bottom: none;
}

#botaoRetornar {
    background-color: #3F9999;
    color: white;
    font-size: 30px;
    margin-bottom: 10px
}

.filtragemJogo {
    margin-bottom: 20px;
    margin-right: 90px;
}

@media (min-width: 500px) and (max-width: 575px) {

    .positivoTexto {
        margin-left: 10px;
    }


    .medioTexto {
        margin-left: 10px;
    }

    .negativoTexto {
        margin-left: 10px;
    }
}

.CartaInicio{
    font-size: 18px;
}