body {
    background-color: #FAF8DA;
}

#header,
#footer {
    background-color: #ffc0222f;
}

main > div {
    margin-top: 75px;
}

#chat{
    position: fixed;
    right: 0px;
    top: 100px;
}

#tuturialAndre{
    position: fixed;
    right: 100px;
    top: 100px;
}

#andrePagina{
    position: fixed;
    top: 100px;
}

@media only screen and (max-width: 1000px){
    #andrePagina{
        left: -100px;
        top: 100px;
    }
}

#confirmarAlteracao {
    background-color: #FFC122;
    width: 200px;
}

#confirmarAlteracao:active{
    background-color: #ffb700;
}

#avatar_web{
    text-align: right;
}

#avatar_mobile{
    display: none;
}

#form{
    text-align: center;
}

@media only screen and (max-width: 876px) {
    #chat{
        top: 125px;
    }
    
    #tuturialAndre{
        top: 125px;
    }
}

@media only screen and (max-width: 575.5px){
    #avatar_web{
        display: none;
    }

    #avatar_mobile{
        display: block;
        text-align: center;
    }

    #form{
        margin-top: 45px;
    }

    #andrePagina{
        width: 150px;
        left: -75px;
        top: 175px;
    }

    #chat{
        right: 0px;
        width: 65px;
        top: 85px;
    }
    
    #tuturialAndre{
        left: 0px;
        width: 65px;
        top: 85px;
    }
}
