body {
    background-color: #DBF0F0;
}

#header,
#footer {
    background-color: #62d4d426;
}

main > div {
    margin-top: 55px;
}

.capitulos{
    text-align: center;
}

#xicoPagina{
    position: fixed;
    top: 100px;
}

@media only screen and (max-width: 1000px){
    #xicoPagina{
        position: fixed;
        left: -100px;
        top: 100px;
    }
}


#chat{
    position: fixed;
    right: 0px;
    top: 100px;
}

#tuturialXico{
    position: fixed;
    right: 100px;
    top: 100px;
}

@media only screen and (max-width: 920px){
    #chat{
        position: fixed;
        right: 0px;
        top: 120px;
    }
    
    #tuturialXico{
        position: fixed;
        right: 100px;
        top: 120px;
    }
}

@media only screen and (max-width: 768px){
    #chat{
        right: 0px;
        top: 165px;
    }
    
    #tuturialXico{
        right: 100px;
        top: 165px;
    }

    #xicoPagina{
        top: 150px;
    }
}

@media only screen and (max-width: 576px) {
    #xicoPagina{
        width: 200px;
        left: -75px;
        top: 250px;
    }

    #chat{
        right: 0px;
        width: 65px;
        top: 100px;
    }
    
    #tuturialXico{
        left: 0px;
        width: 65px;
        top: 100px;
    }

    .capitulos{
        margin-top: 50px;
    }

    main>div {
        margin-top: 25px;
    }
}