@font-face {
    font-family: 'Play Time';
    src: url(../font/playtime.ttf) format('opentype'), url(../font/PlaytimeOblique.ttf) format('opentype'), url(../font/PlaytimeWithHotToddies3D.ttf) format('opentype');
}

/* index.html - A página de rosto */

body {
    font-family: 'Play Time', 'Times New Roman', Times, serif;
}

#paginaInicial{
    background-color: #ffffff;
}

#headerInicial{
    font-size: 34px;
    margin-top: 300px;
    position: relative;
}

#textoInicial{
    font-size: 24px;
    position: relative;
}

#logoInicial{
    width: 450px;
}

#tatinhasInicial{
    position: relative;
    width: 500px;
}

.corpoDaPaginaInicial {
    overflow: hidden;
}

.logotipo {
    width: 40rem;
    margin: 5rem 0rem 0rem 5rem;
}

.sombra {
    position: absolute;
    float: right;
    width: 100rem;
    margin: -5rem 0rem 0rem 5rem;
}

.tatinhas {
    position: relative;
    width: 55rem;
    float: right;
    margin: 12rem 7rem 0rem 0rem;
}

.titulo {
    display: inline-block;
    text-align: justify;
    font-size: 4rem;
    width: 35rem;
    margin: 0rem 0rem 2rem 0rem;
}

.lead {
    width: 50rem;
    font-size: 2.3rem;
    text-align: justify;
}

.caixaDeTexto {
    position: absolute;
    left: 0rem;
    margin: -47rem 0rem 0rem 2rem;
    padding: 5rem;
    display: inline-block;
    text-align: justify;
    color: #666666;
}

.botao {
    margin: 2rem 0rem 0rem 0rem;
}

#botaoRegistar {

    width: 25rem;
    height: 7rem;
    background-color: #FFA09E;
    border: none;
    text-align: left;
    padding: 0rem 0rem 0rem 2rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    position: relative;
}

#botaoLogin {
    width: 25rem;
    height: 7rem;
    margin-left: 2rem;
    background-color: #FFA09E;
    border: none;
    text-align: left;
    padding: 0rem 0rem 0rem 2rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    position: relative;
}

.palavraEspecial {
    color: #205D76;
}


/* Registo */


#genero {
    margin-left: 110px;
}

#masculino {
    margin-left: 160px;
}

#outro {
    margin-left: 160px;
}

#registar {
    position: relative;
    background-color: #FFA09E;
    border: none;
    text-align: center;
    height: 80px;
    width: 230px;
    margin-left: 900px;
    margin-top: -250px;
    font-family: 'Play Time';
    font-size: 25px;
}

#tatinhasRegisto {
    position: relative;
    width: 200px;
    margin-left: 900px;
    margin-top: -450px;
}
/* Login */

.corpoDoLogineRegisto {
    background-color: #F9F8DA;
}

h1#titulo {
    background-color: #FFA09E;
    text-align: center;
    color: #ffffff;
    height: 150px;
    padding: 56px;
    font-family: 'Play Time';
    border-bottom: 3px dashed white;
}


#nomeUtilizador {
    margin-top: 150px;
}

#entrar {
    position: relative;
    background-color: #FFA09E;
    border: none;
    text-align: center;
    height: 60px;
    width: 330px;
    margin-left: 900px;
    margin-top: -30px;
    font-family: 'Play Time';
    font-size: 25px;
}

#tatinhas {
    position: relative;
    width: 250px;
    margin-left: 900px;
    margin-top: -150px;
}

/* Página Principal */

.corpoDaPaginaPrincipal {
    background-color: #E7E7E7;

}

.navbar {
    background-color: #FFFFFF;
    text-align: center;
}


.logo {
    width: 200px;
}

.icon {
    width: 150px;
}

.inicio {
    width: 4rem;
    height: 5rem;
}

.aprender {
    width: 4.5rem;
    height: 4.7rem;
}

.jogar {
    width: 5rem;
    height: 4.5rem;
    margin: 0.25rem 0rem 0rem 0rem;
}

.paginaPessoal {
    width: 3rem;
    height: 4.5rem;
    margin: 0.25rem 0rem 0rem 0rem;
}



.dosCards {
    background-color: #638D94;
    height: 33rem;
    position: relative;
}

.page-footer {
    background-color: #FFFFFF;
    height: 25rem;
}

.container-fluid.blocodeTexto1 {
    display: flex;
    align-items: baseline;
}

.tituloDaPaginaPrincipal {
    margin: 5rem;
    color: #205D76;
}

.blocodeTexto {
    margin: -3rem 0rem 0rem 5.5rem;
    text-align: justify;
    padding: 0rem 11rem 0rem 0rem;
    font-size: 30px;
    color: #6A9299;
}

a {
    color: black;
}

a:hover {
    color: black;
}

.icons {
    margin: 2rem 4rem 0rem 0rem;
}


.avatar {
    padding: 0rem 5rem 0rem 0rem;
}

.avatarImagem {
    width: 4.5rem;
    height: 4.5rem;
}

.avatarTexto {
    margin: 1.2rem 0rem 0rem 2rem;
    font-size: 25px;
}

.containerAprender {
    background-color: #62D4D4;
    padding: 5rem 5rem 5rem 5rem;
}

.aprenderImage {
    width: 8rem;
    height: 8rem;
    margin: 0rem 0rem 0rem 7rem;
}

.aprenderTitle {
    font-size: 3rem;
    color: white;
}

.quadradoAprender {
    margin: -5rem 5rem 0rem 0rem;
}

.containerJogar {
    background-color: #FFA09E;
    padding: 5rem 5rem 5rem 5rem;
}

.quadradoJogar {
    margin: -5rem 5rem 0rem 0rem;
}

.jogarTitle {
    font-size: 3rem;
    color: white;
}

.jogarImage {
    width: 10rem;
    height: 8rem;
    margin: 0rem 0rem 0rem 7rem;
}

.containerOTeuEspaço {
    background-color: #FFC122;
    padding: 4.5rem 5rem 4.5rem 5rem;
}

.quadradoEspaco {
    margin: -6rem 0rem 0rem 0rem;
}

.espacoImage {
    width: 5.5rem;
    height: 8rem;
    margin: 0rem 0rem 0rem 8.5rem;
}

.espacoTitle {
    font-size: 3rem;
    color: white;
}

.text {
    font-size: 1.5rem;
    color: white;
}



div>.amigos {
    margin: 0rem 0rem 0rem 23rem;
    font-size: 1.8rem;
}

.cardEquipa {
    margin: 2.5rem 0rem 0rem 70rem;
}

.divDoSobre {
    margin: 2rem 0rem 0rem 2rem;
}

.sobre {
    font-size: 2rem;
    margin: 0rem 0rem 2rem 0rem;
}

#lineSobre {
    width: 13rem;
    height: 0.1rem;
    margin: -1rem 0rem 0rem 0rem;
    background: black;
    position: absolute;
}


.sobreLista {
    font-size: 1.5rem;
}

.cardTatinhas {
    width: 8rem;
    text-align: center;
}

.tatinhasTitle {
    margin: 0rem 0rem -0.5rem 0rem;
}

.xicoTitle {
    margin: 0rem 0rem -0.5rem 0rem;
}

.doraTitle {
    margin: 0rem 0rem -0.5rem 0rem;
}

.andreTitle {
    margin: 0rem 0rem -0.5rem 0rem;
}

.cardXico {
    width: 8rem;
    text-align: center;
}

.cardDora {
    width: 8rem;
    text-align: center;
}

.cardAndre {
    width: 8rem;
    text-align: center;
}

.footer-copyright {
    margin: 1rem 50rem 0rem 3rem;
}

.footer-slogan {
    margin: 1rem 0rem 0rem 48rem;
}

/* Página de Informação */

body {
    background-color: #DBF0F0;
}

#header,
#footer {
    background-color: #62d4d426;
}

main > div {
    margin-top: 55px;
}

.capitulos{
    text-align: center;
}

#xicoPagina{
    position: fixed;
    top: 100px;
}

@media only screen and (max-width: 1000px){
    #xicoPagina{
        left: -100px;
        top: 100px;
    }
}


#chat{
    position: fixed;
    right: 0px;
    top: 100px;
}

#tuturialXico{
    position: fixed;
    right: 100px;
    top: 100px;
}

@media only screen and (max-width: 920px){
    #chat{
        right: 0px;
        top: 120px;
    }
    
    #tuturialXico{
        right: 100px;
        top: 120px;
    }
}

@media only screen and (max-width: 768px){
    #chat{
        right: 0px;
        top: 165px;
    }
    
    #tuturialXico{
        right: 100px;
        top: 165px;
    }

    #xicoPagina{
        top: 150px;
    }
}

@media only screen and (max-width: 576px) {
    #xicoPagina{
        width: 200px;
        left: -75px;
        top: 250px;
    }

    #chat{
        right: 0px;
        width: 65px;
        top: 100px;
    }
    
    #tuturialXico{
        left: 0px;
        width: 65px;
        top: 100px;
    }

    .capitulos{
        margin-top: 50px;
    }

    main>div {
        margin-top: 25px;
    }
}

/* capitulos */

main {
    font-family: 'Play Time', 'Times New Roman', Times, serif;
    font-style: normal;
}

main>h1 {
    margin-top: 15px;
    font-size: 25px;
}

main>p {
    text-align: justify;
}

.quadrado {
    border-color: black;
    border-style: solid;
    text-align: center;
}

#btnproximoCapitulo {
    text-align: right;
}

.btn {
    width: 250px;
    background-color: #62D4D4;
}

@media only screen and (max-width: 1100px){
    .btn {
        width: 175px;
    }
}

@media only screen and (max-width: 815px) {
    .quadrado {
        padding-top: 25px;
    }
}

@media only screen and (max-width: 576px) {
    .btn {
        width: 155px;
        padding: 5px;
    }

    .quadrado{
        height: 225px;
        padding-top: 45px;
    }

}

@media only screen and (max-width: 375.5px){
    .quadrado{
        margin-left: -10px;
        margin-right: -10px;
    }
}

@media only screen and (max-width: 320.5px){
    .quadrado{
        margin-left: -13px;
        margin-right: -12px;
    }

    .xico{
        width: 95px;
    }
}

/* Barra-menu e footer da informação e da area pessoal */

#header,
#footer {
    padding-top: 10px;
    font-family: 'Play Time', 'Times New Roman', Times, serif;
}

.menu {
    text-align: center;
    height: 12vh;
}

.imagem-menu{
    text-align: center;
    width: 100px;
}

#user {
    text-align: right;
}

@media only screen and (max-width: 768px){
    #user {
        text-align: justify;
    }
}

#username {
    font-size: 15pt;
    margin-top: 15px;
    margin-left: 15px;
}

#footer {
    margin-top: 15vh;
}

#amigosTitulo {
    text-align: right;
    font-size: 25px;
}

.amigos {
    text-align: center;
    font-size: 18px;
}

#slogan {
    margin-top: 5px;
    text-align: right;
    font-size: 14px;
}

@media only screen and (max-width: 860px){
    #logoTatu{
        width: 150px;
        padding-top: 15px;
    }

    .capituloImg{
        width: 175px;
    }

}

@media only screen and (max-width: 730px){
    .capituloImg{
        width: 165px;
    }

}

@media only screen and (max-width: 576px) {
    #logo {
        text-align: center;
        padding-left: 35px;
    }

    #logoTatu {
        width: 250px;
    }

    .menu,
    #user {
        display: none;
    }
}

/* Area pessoal */

body {
    background-color: #FAF8DA;
}

#header,
#footer {
    background-color: #ffc0222f;
}

main > div {
    margin-top: 75px;
}

#chat{
    position: fixed;
    right: 0px;
    top: 100px;
}

#tuturialAndre{
    position: fixed;
    right: 100px;
    top: 100px;
}

#andrePagina{
    position: fixed;
    top: 100px;
}

@media only screen and (max-width: 1000px){
    #andrePagina{
        left: -100px;
        top: 100px;
    }
}

#confirmarAlteracao {
    background-color: #FFC122;
    width: 200px;
}

#confirmarAlteracao:active{
    background-color: #ffb700;
}

#avatar_web{
    text-align: right;
}

#avatar_mobile{
    display: none;
}

#form{
    text-align: center;
}

@media only screen and (max-width: 876px) {
    #chat{
        top: 125px;
    }
    
    #tuturialAndre{
        top: 125px;
    }
}

@media only screen and (max-width: 575.5px){
    #avatar_web{
        display: none;
    }

    #avatar_mobile{
        display: block;
        text-align: center;
    }

    #form{
        margin-top: 45px;
    }

    #andrePagina{
        width: 150px;
        left: -75px;
        top: 175px;
    }

    #chat{
        right: 0px;
        width: 65px;
        top: 85px;
    }
    
    #tuturialAndre{
        left: 0px;
        width: 65px;
        top: 85px;
    }
}

/* Pagina de jogos */

.corpoDaPaginaDeJogos {
    background-color: #FFF6FB;

}

.navbarDaPaginaDeJogos {
    background-color: #FFE1E4;
    text-align: center;
}

.navbar-nav.center {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}


/* 
.jogar {
    width: 5rem;
    height: 4.5rem;
} */
/* 
.paginaPessoal {
    width: 3rem;
    height: 4.5rem;
} */


/* .icons {

    margin: 2rem 4rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
} */

