@font-face {
    font-family: 'Play Time';
    src: url(../font/playtime.ttf) format('opentype'), url(../font/PlaytimeOblique.ttf) format('opentype'), url(../font/PlaytimeWithHotToddies3D.ttf) format('opentype');
}

body {
    font-family: 'Play Time', 'Times New Roman', Times, serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}



/* INDEX.HTML */



#tatinhasIconeInicial {
    position: relative;
    width: 55rem;
    float: right;
    margin: 12rem 7rem 0rem 0rem;
}

.corpoDaPaginaInicial {
    overflow: hidden;
}

#tatudobemIndex {
    width: 40rem;
    margin: 5rem 0rem 0rem 5rem;
}

.sombra {
    position: absolute;
    float: right;
    width: 100rem;
    margin: -5rem 0rem 0rem 5rem;
}


.blocoTextoIndex {
    position: absolute;
    left: 0rem;
    margin: -47rem 0rem 0rem 2rem;
    padding: 5rem;
    display: inline-block;
    text-align: justify;
    color: #666666;
}


#headerIndex {
    margin-top: 300px;
    position: relative;
    display: inline-block;
    text-align: justify;
    width: 35rem;
    margin: 0rem 0rem 2rem 0rem;
}

#textoIndex {
    position: relative;
    width: 50rem;
    font-size: 2.3rem;
    text-align: justify;
}


.botoesIndex{
    margin: 2rem 0rem 0rem 0rem;
}

.botao {
    width: 25rem;
    height: 7rem;
    background-color: #FFA09E;
    border: none;
    text-align: left;
    padding: 0rem 0rem 0rem 2rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    position: relative;
}



#botaoLogin {
    margin-left: 2rem;
}

.palavraEspecial {
    color: #205D76;
}


/* Registo */



#genero {
    margin-left: 110px;
}

#masculino {
    margin-left: 160px;
}

#outro {
    margin-left: 160px;
}

#registar {
    position: relative;
    background-color: #FFA09E;
    border: none;
    text-align: center;
    height: 80px;
    width: 230px;
    margin-left: 900px;
    margin-top: -250px;
    font-family: 'Play Time';
    font-size: 25px;
}

#tatinhasRegisto {
    position: absolute;
    width: 200px;
    float: right;
}



/* Login */

.corpoDoLogineRegisto {
    background-color: #F9F8DA;
}

h1#titulo {
    background-color: #FFA09E;
    text-align: center;
    color: #ffffff;
    height: 150px;
    padding: 56px;
    font-family: 'Play Time';
    border-bottom: 3px dashed white;
}


#nomeUtilizador {
    margin-top: 150px;
}

#entrar {
    position: relative;
    background-color: #FFA09E;
    border: none;
    text-align: center;
    height: 60px;
    width: 330px;
    margin-left: 900px;
    margin-top: -30px;
    font-family: 'Play Time';
    font-size: 25px;
}

#tatinhasLogin {
    position: relative;
    width: 250px;
    margin-left: 900px;
    margin-top: -150px;
}

/* ELEMENTOS COMUNS */

/* NAVBAR */

.icons {
    margin: 2rem 8rem 0rem -4rem;
}

.avatarTexto {
    margin: 1.2rem 0rem 0rem 2rem;
    font-size: 25px;
}

/* FOOTER */

.frasesPequenas{
    color: #747474;
}

a {
    color: #727270;
}

#linhaSobre {
    width: 13rem;
    height: 0.1rem;
    margin: -0.4rem 0rem 0rem 0rem;
    background: black;
    position: absolute;
}



/* NAVBARS DE CADA PÁGINA */

.navbarInicio {
    background-color: #FFFFFF;
}

.navbarAprender {
    background-color: #BCE9E9;
}

.navbarJogos {
    background-color: #FFE1E4;
}

.navbarPerfil {
    background-color: #FBEEB5;
}



/* BODIES DE CADA PÁGINA */

.corpoInicio {
    background-color: #FAFAFA;

}

.corpoInfo {
    background-color: #DBF0F0;

}

.corpoJogos {
    background-color: #FFF6FB;

}


.corpoPerfil{
    background-color: #FAF8DA;
}



/* FOOTERS DE CADA PÁGINA */

.footerInicio {
    background-color: #FFFFFF;
}

.footerInfo {
    background-color: #BCE9E9;
}

.footerJogos {
    background-color: #FFE1E4;
}

.footerPerfil {
    background-color: #FBEEB5;
}


/* PÁGINA INICIO */





/* 


.dosCards {
    background-color: #638D94;
    height: 33rem;
    position: relative;
}

.page-footer {
    background-color: #FFFFFF;
    height: 25rem;
}

.container-fluid.blocodeTexto1 {
    display: flex;
    align-items: baseline;
}

.tituloDaPaginaPrincipal {
    margin: 5rem;
    color: #205D76;
}

.blocodeTexto {
    margin: -3rem 0rem 0rem 5.5rem;
    text-align: justify;
    padding: 0rem 11rem 0rem 0rem;
    font-size: 30px;
    color: #6A9299;
}

a {
    color: black;
}

a:hover {
    color: black;
}






.containerAprender {
    background-color: #62D4D4;
    padding: 5rem 5rem 5rem 5rem;
}

.aprenderImage {
    width: 8rem;
    height: 8rem;
    margin: 0rem 0rem 0rem 7rem;
}

.aprenderTitle {
    font-size: 3rem;
    color: white;
}

.quadradoAprender {
    margin: -5rem 5rem 0rem 0rem;
}

.containerJogar {
    background-color: #FFA09E;
    padding: 5rem 5rem 5rem 5rem;
}

.quadradoJogar {
    margin: -5rem 5rem 0rem 0rem;
}

.jogarTitle {
    font-size: 3rem;
    color: white;
}

.jogarImage {
    width: 10rem;
    height: 8rem;
    margin: 0rem 0rem 0rem 7rem;
}

.containerOTeuEspaço {
    background-color: #FFC122;
    padding: 4.5rem 5rem 4.5rem 5rem;
}

.quadradoEspaco {
    margin: -6rem 0rem 0rem 0rem;
}

.espacoImage {
    width: 5.5rem;
    height: 8rem;
    margin: 0rem 0rem 0rem 8.5rem;
}

.espacoTitle {
    font-size: 3rem;
    color: white;
}

.text {
    font-size: 1.5rem;
    color: white;
}



div>.amigos {
    margin: 0rem 0rem 0rem 23rem;
    font-size: 1.8rem;
}

.cardEquipa {
    margin: 2.5rem 0rem 0rem 70rem;
}

.divDoSobre {
    margin: 2rem 0rem 0rem 2rem;
}

.sobre {
    font-size: 2rem;
    margin: 0rem 0rem 2rem 0rem;
}




.sobreLista {
    font-size: 1.5rem;
}

.cardTatinhas {
    width: 8rem;
    text-align: center;
}

.tatinhasTitle {
    margin: 0rem 0rem -0.5rem 0rem;
}

.xicoTitle {
    margin: 0rem 0rem -0.5rem 0rem;
}

.doraTitle {
    margin: 0rem 0rem -0.5rem 0rem;
}

.andreTitle {
    margin: 0rem 0rem -0.5rem 0rem;
}

.cardXico {
    width: 8rem;
    text-align: center;
}

.cardDora {
    width: 8rem;
    text-align: center;
}

.cardAndre {
    width: 8rem;
    text-align: center;
}

.footer-copyright {
    margin: 1rem 50rem 0rem 3rem;
}

.footer-slogan {
    margin: 1rem 0rem 0rem 48rem;
} */


/* Página de Informação */

/* body {
    background-color: #DBF0F0;
}

#header,
#footer {
    background-color: #62d4d426;
}

main>div {
    margin-top: 55px;
}

.capitulos {
    text-align: center;
}

#xicoPagina {
    position: fixed;
    top: 100px;
}

@media only screen and (max-width: 1000px) {
    #xicoPagina {
        left: -100px;
        top: 100px;
    }
}


#chat {
    position: fixed;
    right: 0px;
    top: 100px;
}

#tuturialXico {
    position: fixed;
    right: 100px;
    top: 100px;
}

@media only screen and (max-width: 920px) {
    #chat {
        right: 0px;
        top: 120px;
    }

    #tuturialXico {
        right: 100px;
        top: 120px;
    }
}

@media only screen and (max-width: 768px) {
    #chat {
        right: 0px;
        top: 165px;
    }

    #tuturialXico {
        right: 100px;
        top: 165px;
    }

    #xicoPagina {
        top: 150px;
    }
}

@media only screen and (max-width: 576px) {
    #xicoPagina {
        width: 200px;
        left: -75px;
        top: 250px;
    }

    #chat {
        right: 0px;
        width: 65px;
        top: 100px;
    }

    #tuturialXico {
        left: 0px;
        width: 65px;
        top: 100px;
    }

    .capitulos {
        margin-top: 50px;
    }

    main>div {
        margin-top: 25px;
    }
} */

/* capitulos */

/* main {
    font-family: 'Play Time', 'Times New Roman', Times, serif;
    font-style: normal;
}

main>h1 {
    margin-top: 15px;
    font-size: 25px;
}

main>p {
    text-align: justify;
}

.quadrado {
    border-color: black;
    border-style: solid;
    text-align: center;
}

#btnproximoCapitulo {
    text-align: right;
}

.btn {
    width: 250px;
    background-color: #62D4D4;
}

@media only screen and (max-width: 1100px) {
    .btn {
        width: 175px;
    }
}

@media only screen and (max-width: 815px) {
    .quadrado {
        padding-top: 25px;
    }
}

@media only screen and (max-width: 576px) {
    .btn {
        width: 155px;
        padding: 5px;
    }

    .quadrado {
        height: 225px;
        padding-top: 45px;
    }

}

@media only screen and (max-width: 375.5px) {
    .quadrado {
        margin-left: -10px;
        margin-right: -10px;
    }
}

@media only screen and (max-width: 320.5px) {
    .quadrado {
        margin-left: -13px;
        margin-right: -12px;
    }

    .xico {
        width: 95px;
    */


/* Barra-menu e footer da informação e da area pessoal */

/* #header,
#footer {
    padding-top: 10px;
    font-family: 'Play Time', 'Times New Roman', Times, serif;
}

.menu {
    text-align: center;
    height: 12vh;
}

.imagem-menu {
    text-align: center;
    width: 100px;
}

#user {
    text-align: right;
}

@media only screen and (max-width: 768px) {
    #user {
        text-align: justify;
    }
}

#username {
    font-size: 15pt;
    margin-top: 15px;
    margin-left: 15px;
}

#footer {
    margin-top: 15vh;
}

#amigosTitulo {
    text-align: right;
    font-size: 25px;
}

.amigos {
    text-align: center;
    font-size: 18px;
}

#slogan {
    margin-top: 5px;
    text-align: right;
    font-size: 14px;
}

@media only screen and (max-width: 860px) {
    #logoTatu {
        width: 150px;
        padding-top: 15px;
    }

    .capituloImg {
        width: 175px;
    }

}

@media only screen and (max-width: 730px) {
    .capituloImg {
        width: 165px;
    }

}

@media only screen and (max-width: 576px) {
    #logo {
        text-align: center;
        padding-left: 35px;
    }

    #logoTatu {
        width: 250px;
    }

    .menu,
    #user {
        display: none;
    }
}

.cartaoDosAmigos {
    height: 400px;
} */

/* Area pessoal */

/* .corpoDaAreaPessoal {
    background-color: #FAF8DA;
}

.navbarAreaPessoal .footerAreaPessoal {
    background-color: black;
}


#chat {
    position: fixed;
    right: 0px;
    top: 100px;
}

#tutorialAndre {
    position: fixed;
    right: 100px;
    top: 100px;
}

#andrePagina {
    position: fixed;
    top: 230px;
    left: 50px;
}

@media only screen and (max-width: 1000px) {
    #andrePagina {
        left: -100px;
        top: 100px;
    }
}

#confirmarAlteracao {
    background-color: #FFC122;
    width: 200px;
}

#confirmarAlteracao:active {
    background-color: #ffb700;
}

#avatar_web {
    text-align: right;
}

#avatar_mobile {
    display: none;
}

#form {
    text-align: center;
}

@media only screen and (max-width: 876px) {
    #chat {
        top: 125px;
    }

    #tuturialAndre {
        top: 125px;
    }
}

@media only screen and (max-width: 575.5px) {
    #avatar_web {
        display: none;
    }

    #avatar_mobile {
        display: block;
        text-align: center;
    }

    #form {
        margin-top: 45px;
    }

    #andrePagina {
        width: 150px;
        left: -75px;
        top: 175px;
    }

    #chat {
        right: 0px;
        width: 65px;
        top: 85px;
    }

    #tuturialAndre {
        left: 0px;
        width: 65px;
        top: 85px;
    }
} */

/* Pagina de jogos */

/* .corpoDaPaginaDeJogos {
    background-color: #FFF6FB;

}

.navbarJogos {
    background-color: #FFE1E4;
    text-align: center;
}

.navbar-nav.center {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.footerJogos {
    background-color: #FFE1E4;
}


.jogar {
    width: 5rem;
    height: 4.5rem;
}
 
.paginaPessoal {
    width: 3rem;
    height: 4.5rem;
}


 .icons {

    margin: 2rem 4rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
} */


/* SCROLLBARS */





::-webkit-scrollbar {
    width: 20px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 40px;
    background-image: -webkit-gradient(linear,
            left bottom,
            left top,
            color-stop(0.50, rgba(62, 163, 217, 0.61)),
            color-stop(0.72, rgba(240, 127, 176, 0.61)),
            color-stop(0.80, rgba(236, 225, 15, 0.61)));
}


/* JOGO DA MEMÓRIA */



.memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #1C7CCC;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}







/* O DRAG AND DROP */


@import url('https://fonts.googleapis.com/css?family=Montserrat');



.draggable-elements {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.draggable {
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    margin: 0rem 0.5rem;
    cursor: move;
    transition: opacity 0.2s;
}

.draggable:hover {
    opacity: 0.5;
}

.droppable {
    height: 6.5rem;
    width: 6.5rem;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    background-color: #fff;
    border: 3px dashed #111;
    transition: border-width 0.2s, transform 0.2s, background-color 0.4s;
}

.droppable span {
    font-size: 1.25rem;
    pointer-events: none;
    /* The element is never the target of pointer events */
}



/* Drag and Drop Related Styling */

.droppable.droppable-hover {
    /* background-color: #bee3f0; */
    border-width: 5px;
    transform: scale(1.1);
}

.droppable.dropped {
    border-style: solid;
    color: #fff;
}

.droppable.dropped span {
    font-size: 0.75rem;
    margin-top: 0.5rem;
}

.droppable.dropped i {
    pointer-events: none;
}

.draggable.dragged {
    user-select: none;
    opacity: 0.1;
    cursor: default;
}

.draggable.dragged:hover {
    opacity: 0.1;
}

@media (max-width: 600px) {
    html {
        font-size: 14px;
    }

    .draggable-elements {
        margin: 1.5rem;
    }
}



/* FOGE DO VIRUS */

#fogeDoVirus {
    width: 500px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
}


#personagem {
    width: 20px;
    height: 50px;
    background-color: red;
    position: relative;
    top: 150px;
}

@keyframes salto {
    0% {
        top: 150px;
    }

    30% {
        top: 100px;
    }

    70% {
        top: 100px;
    }

    100% {
        top: 150px;
    }
}


.animate {
    animation: salto 300ms linear;
}

@keyframes virus {
    0% {
        left: 500px
    }

    100% {
        left: -20px
    }
}




#virus {
    width: 20px;
    height: 20px;
    background-color: blue;
    position: relative;
    top: 130px;
    left: 480px;
    animation: block 1s infinite linear;
}








/* FILL IN THE BLANKS */


#frame001 {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    width: auto;
    height: auto;
    padding: 5px;
}

#color001 {
    color: black;
    font-size: large;
    text-align: left;
}

#center001 {
    text-align: center;
}

.button001 {
    background-color: blue;
    color: white;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

.button002 {
    width: 10px;
    height: 10px;
}




/* MATA O VIRUS */




.wrapper {
    /* border: 1px solid black; */
    width: 800px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(https://github.com/MohammedHamzaMalik/100-Days-of-JavaScript-Code/blob/main/Day%2097/Whack%20A%20Mole/background.png?raw=true);
    overflow: hidden;
}

.score {
    font-size: 5rem;
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 50px;
    text-align: center;
}

.countDown {
    position: absolute;
    top: 490px;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    color: #000;
}

button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    font-size: 1rem;
    transform: translate(-50%, 0);
    background: black;
    color: white;
    padding: 1rem 2rem;
    border-radius: 5px;
    z-index: 200;
    cursor: pointer;
    border: none;
    outline: none;
}

button:hover {
    background: #f0c27b;
    color: black;
}

.game {
    width: 600px;
    height: 400px;
    margin: 70px auto;
    z-index: 200;
    display: flex;
    flex-wrap: wrap;
}

.hole {
    overflow: hidden;
    flex: 1 0 33.33%;
    position: relative;
}

.hole::after {
    content: "";
    display: block;
    background-image: url(https://github.com/MohammedHamzaMalik/100-Days-of-JavaScript-Code/blob/main/Day%2097/Whack%20A%20Mole/sand1.png?raw=true);
    position: absolute;
    width: 100%;
    height: 70px;
    z-index: 2;
    bottom: -30px;
    background-size: contain;
}

.mole {
    background-image: url(https://github.com/MohammedHamzaMalik/100-Days-of-JavaScript-Code/blob/main/Day%2097/Whack%20A%20Mole/yoda1.png?raw=true);
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    transition: 0.4s;
    background-repeat: no-repeat;
    background-position: bottom;
}

.small {
    background-size: 60%;
}

.large {
    background-size: 80%;
}

.hole.up .mole {
    cursor: grab;
    top: 0;
}

@media only screen and (max-width: 600px) {
    * {
        zoom: 0.7;
    }
}






/* PUZZLE */

:root {
    --color: lightgray;
    --border-radius: 10px;
    --image: url('https://media.gettyimages.com/vectors/cute-cartoon-dachshunds-in-love-vector-id865392634?s=2048x2048');
}



#puz,
#puzz {
    position: absolute;
    border-radius: var(--border-radius) 0 var(--border-radius) 0;
    user-select: none;
}

#puz {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px dashed lightgray;
    overflow: hidden;
}

#puzz {
    left: 0;
    top: 0;
    border: 0;
}

#puz i {
    float: left;
    width: 100px;
    height: 100px;
    outline: 1px dashed lightgray;
}

#puzz i {
    position: absolute;
    width: 100px;
    height: 100px;
    background: var(--color);
    background-image: var(--image);
    background-size: 300px 300px;
    cursor: move;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
}

.first {
    border-top-left-radius: var(--border-radius);
    background-position: left top !important;
}

.secon {
    background-position: center top !important;
}

.third {
    /*   border-top-right-radius:var(--border-radius); */
    background-position: right top !important;
}

.fourt {
    background-position: left center !important;
}

.fifth {
    background-position: center center !important;
}

.sixth {
    background-position: right center !important;
}

.seven {
    /*   border-bottom-left-radius:var(--border-radius); */
    background-position: left bottom !important;
}

.eight {
    background-position: center bottom !important;
}

.ninth {
    border-bottom-right-radius: var(--border-radius);
    background-position: right bottom !important;
}

.clicked {
    box-shadow: 0 0 0 4px gray !important;
}

.dropped {
    background: var(--color);
    background-image: var(--image);
    background-size: 300px 300px;
}

.done {
    opacity: 0;
    pointer-events: none;
}

.allDone {
    animation: allDone 1s linear forwards;
    border: 3px solid lightgray !important;
}

.allDone i {
    outline: 0 !important;
}

@keyframes allDone {
    50% {
        transform: translate(-50%, -50%) scale(1.2);
    }
}

#clicks {
    font-size: 8px;
    font-family: monospace;
    position: absolute;
    bottom: 5px;
    right: 5px;
}