main {
    font-family: 'Play Time', 'Times New Roman', Times, serif;
    font-style: normal;
}

main>h1 {
    margin-top: 15px;
    font-size: 25px;
}

main>p {
    text-align: justify;
}

.quadrado {
    border-color: black;
    border-style: solid;
    text-align: center;
}

#btnproximoCapitulo {
    text-align: right;
}

.btn {
    width: 250px;
    background-color: #62D4D4;
}

@media only screen and (max-width: 1100px){
    .btn {
        width: 175px;
    }
}

@media only screen and (max-width: 815px) {
    .quadrado {
        padding-top: 25px;
    }
}

@media only screen and (max-width: 576px) {
    .btn {
        width: 155px;
        padding: 5px;
    }

}