body {
    background-color: #F9F8DA;
}

h1#titulo {
    background-color: #FFA09E;
    text-align: center;
    color: #ffffff;
    height: 150px;
    padding: 56px;
    font-family: 'Play Time';
    border-bottom: 3px dashed white;
}

input{
    font-family: 'Play Time';
}

label{
    font-family: 'Play Time';
}

#genero{
    margin-left: 110px;
}

#masculino{
    margin-left: 160px;
}

#outro{
    margin-left: 160px;
}

#registar{
    position: relative;
    background-color: #FFA09E;
    border: none;
    text-align: center;
    height: 80px;
    width: 230px;
    margin-left: 900px;
    margin-top: -250px;
    font-family: 'Play Time';
    font-size: 25px;
}

#tatinhas{
    position: relative;
    width: 200px;
    margin-left: 900px;
    margin-top: -450px;
}